EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyBqOv-mRCWtyRKDkr39wHqFZLvHyE8e7sk
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=submate-4fc0a.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=submate-4fc0a
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=submate-4fc0a.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=670611888099
EXPO_PUBLIC_FIREBASE_APP_ID=1:670611888099:web:6f4b49c0ddc08f24ccb2d6